tensorflow>=2.12
setuptools<81
opencv-python
mediapipe
flask
flask-socketio
flask-cors
matplotlib
seaborn
numpy
pandas
Pillow
reportlab
scikit-learn
tqdm
eventlet
face-recognition
face-recognition-models
dlib
scipy
